<div class="whole">
  <mat-tab-group mat-align-tabs="end" [(selectedIndex)]="currentTabIndex" (selectedTabChange)="onTabChange()" backgroundColor="accent" color="accent" dynamicHeight>
    <mat-tab label="Active Tickets">
      <ng-template matTabContent>
        <app-ticket-list></app-ticket-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Create New Ticket">
      <ng-template matTabContent>
        <app-ticket-form >
        </app-ticket-form>
      </ng-template>
    </mat-tab>
    <mat-tab label="Archived Ticket">
      <ng-template matTabContent>
        <app-ticket-list-archived></app-ticket-list-archived>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>