<div class="whole">
  <h1>Tickets</h1>
  <mat-tab-group mat-align-tabs="end" backgroundColor="accent" color="accent" dynamicHeight>
    <mat-tab label="Active List">
      <ng-template matTabContent>
        <app-ticket-list [ticketRes]="ticketRes" ></app-ticket-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Create New">
      <ng-template matTabContent>
        <app-ticket-form >
        </app-ticket-form>
      </ng-template>
    </mat-tab>
    <mat-tab label="Archived List">
      <ng-template matTabContent>
        <app-ticket-list-archived [ticketRes] = "archivedTicketRes"></app-ticket-list-archived>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>