.whole{
    padding: 80px 25px 25px 25px;
}
*{
    margin: 0;
    box-sizing: border-box;
}
h1, h2{
    text-decoration: underline #3f51b58e;
}
h2{
    margin: 10px;
    text-align: center;
}
h3{
    margin: 0;
    font-weight: bold;
}
.container{
    display: grid;
    grid-template-columns: auto minmax(150px, 20%);
}
.content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.right-nav{
    padding-left: 20px;
    border-left: 1px solid #3f51b58e;
}
.right-nav button{
    width: 100%;
    margin-bottom: 10px;
}
.info-block{
    padding: 20px;
 }
 .black-border{
     border: 2px solid rgb(235, 235, 235);
     background-color: rgb(255, 255, 255);
     min-width: 250px;
 }


 .ad-pro-list > h2{
    text-align: left;
 }
 .add-pro-list button{
     height: 5px;
     width: 5px;
 }
 .row{
     display: flex;
     justify-content: left;
     text-align: center;
 }
 .column{
     width: 250px;
     padding: 10px 30px;
     background-color: rgb(255, 255, 255);
     border-top: 1px solid rgb(235, 235, 235);
     border-bottom: 1px solid rgb(235, 235, 235);
     display: flex;
     align-items: center;
 }
 p{
     margin: 0;
 }
.row>div{
    width: 50%;
}




.example-margin {
    margin: 0 12px;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-sort-header-container {
    align-items: center;
  }
  