<div class="whole">
  <h1>
    User Profile: <span>{{ user.userName }}</span>
  </h1>
  <div class="user-detail">
    <div class="info-block">
      <h2>Basic</h2>
      <h3>Gender</h3>
      <p>{{ user.gender }}</p>
      <h3>Join Date</h3>
      <p>{{ user.joined | date: "dd:mm:yyyy" }}</p>
    </div>
    <div class="info-block">
      <h2>Contact</h2>
      <h3>Email</h3>
      <p>{{ user.email }}</p>
      <h3>Phone Number</h3>
      <p>{{ user.phone }}</p>
      <h3>Address</h3>
      <p>{{ user.adrs_Local }}</p>
    </div>
    <div class="info-block">
      <h2>Work</h2>
      <h3>Role</h3><button mat-raised-button color="primary" (click)="updateUserRole()" >Save</button>
      <form #testform="ngForm">
        <div *ngFor="let role of allRoles">
          <input type="checkbox" #checkboxValue (change)='onSelect($event, checkboxValue)' id="{{role}}" class="form-control" name="vehicle1" value="{{role}}" [checked] = "roles.includes(role)" >
          <label for="{{role}}">{{role}}</label>
        </div>
      </form>
      <h3>Project</h3>
      <p>{{ user.project?.title || "N/A" }}</p>
      <h3>
        Assinged Tickets: <span>{{ user.tickets.length }}</span>
      </h3>
    </div>
    <div class="info-block">
      <h2>About</h2>
      <p>{{ user.description }}</p>
    </div>
  </div>
</div>
