<div class="whole">
  <h1>PROJECT {{project?.title}}: TICKETS</h1>
  <mat-tab-group mat-align-tabs="end" backgroundColor="accent" color="accent" dynamicHeight>
    <mat-tab label="LIVE TICKETS">
      <ng-template matTabContent>
        
      </ng-template>
    </mat-tab>
    <mat-tab label="WAITING FOR APPROVAL">
      <ng-template matTabContent>
        
      </ng-template>
    </mat-tab>
    <mat-tab label="WAITING FOR ADMIN CHECK">
      <ng-template matTabContent>
        
      </ng-template>
    </mat-tab>
    <mat-tab label="RESOLVED TICKETS">
      <ng-template matTabContent>

        <app-project-archived-tickets [projectId]="project?.id"></app-project-archived-tickets>
        
      </ng-template>
    </mat-tab>
    <mat-tab label="CREATE NEW">
      <ng-template matTabContent>

        <app-ticket-form [projectIdFromParent]="project?.id"></app-ticket-form>

      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
