<div class="whole">
  <h1>PROJECT {{project?.title}}: TICKETS</h1>
  <mat-tab-group mat-align-tabs="end" backgroundColor="accent" color="accent" dynamicHeight>
    <mat-tab label="LIVE TICKETS">
      <ng-template matTabContent>

        <app-tm-ticket-table [projectId]="project?.id" [ticketState]="'live'" ></app-tm-ticket-table>
        
      </ng-template>
    </mat-tab>
    <mat-tab label="WAITING FOR APPROVAL">
      <ng-template matTabContent>

        <app-tm-ticket-table [projectId]="project?.id" [ticketState]="'passed'" ></app-tm-ticket-table>
        
      </ng-template>
    </mat-tab>
    <mat-tab label="WAITING FOR ADMIN CHECK">
      <ng-template matTabContent>

        <app-ticket-list-passed [projectId]="project?.id"></app-ticket-list-passed>
        
      </ng-template>
    </mat-tab>
    <mat-tab label="RESOLVED TICKETS">
      <ng-template matTabContent>

        <app-project-archived-tickets [projectId]="project?.id"></app-project-archived-tickets>
        
      </ng-template>
    </mat-tab>
    <mat-tab label="CREATE NEW">
      <ng-template matTabContent>

        <app-ticket-form [projectIdFromParent]="project?.id"></app-ticket-form>

      </ng-template>
    </mat-tab>
    <mat-tab label="UNASSIGNED">
      <ng-template matTabContent>

        <app-tm-ticket-table [projectId]="project?.id" [ticketState]="'unassigned'"></app-tm-ticket-table>

      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
