.d-row{
    margin-bottom: 20px;
}
h1{
    margin: 0;
}
.time{
    display: flex;
    justify-content: flex-end;
}

.sm-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    column-gap: 20px;
}
.over .sm-card-container{ row-gap: 20px; }
.sm-card{
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
}
.over .sm-card{
    background-color: #f35f52;
}
.mid .sm-card{
    background-color: #3D6AF2;
}
.dev .sm-card{
    background-color: #27a854;
}
.sm-card p{
    margin: 0;
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-number{
    font-size: 25px;
    font-weight: lighter;
}
.card-title{
    font-weight: bold;
}


.type-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.type-title{
    padding: 10px 10px;
    background-color: #ebe050;
    color: black;
}
.type-part{
    display: inline-block;
    padding: 10px 10px;
}
.type-box{
    display: flex;
    justify-content: space-between;
}
.type-box{
    background-color: thistle;
}




.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}




mat-icon{
    font-size: 50px;
    height: 50px;
    width: 50px;
}
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.new-user{
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    padding: 50px 10px;
    color: salmon;
}

