<div class="mar">
  <h1>About Bug_Tracker V 0.1</h1>
  <p>Bug tracker is an application for tracking error or bug in software. It is developed by <a href="https://binrohan.github.io/me" target="_new">Rohan Bin Khokon</a> as a student project for job preparation in 2020.</p>
  <p>Bug Tracker uses a ticketing system to record bugs or other issues in the software development process on a per-project basis. It implements user- and role-level security to ensure only authorized users can access tickets and projects.</p>
  <p>The Bug_Tracker application was build using ASP.NET Core with SQL Server database. Development was completed with Visual Studio Code. Bug_Tracker's webpages built using Angular 10, Angular material theme and some other material components.</p>
  <p><strong>Roles:</strong> Bug_Tracker has 3 roles that users can be assigned to. A user can be in more than one role at one time. After registration to this application, user have to wait for admin approval by assigning user one of the three roles. Then new user can use the application</p>
  <p>Below are brief descriptions of the permissions of each role:</p>
  <h4>Developer</h4>
  <ul>
    <li>View assigned tickets</li>
    <li>Post comments on projects' ticket developer assigned</li>
    <li>Change status(Working, Waiting, On-Hold) of tickets</li>
    <li>Pass assigned tickets to manager for approval</li>
  </ul>
  <h4>Project Manager or Manager</h4>
  <ul>
    <li>Create new ticket for assigned project</li>
    <li>Edit ticket for assigned project</li>
    <li>Assign or remove users from project</li>
    <li>Approve tickets that are resolved by developer</li>
    <li>Send potiential resolved ticket to admin for mark as resolved</li>
    <li>Assign developer to ticket</li>
  </ul>
  <h4>Admin</h4>
  <ul>
    <li>Assgin users to roles</li>
    <li>Create project</li>
    <li>Archive project</li>
    <li>Assign user to project</li>
    <li>Remove user from project</li>
    <li>Access any project</li>
    <li>Create new ticket</li>
    <li>Edit any ticket</li>
    <li>Assign or remove user from any ticket</li>
    <li>Mark ticket as resolved</li>
    <li>Post commeont in any ticket</li>
    <li>Add new value to ticket <span>Priority</span>, <span>Status</span>, <span>Category</span></li>
  </ul>
</div>