
.full-body>div{
    transform: translateY(50%);
}
h1{
    text-align: center;
}
.login-link-group{
    margin-top: 75px;
    text-align: center;
    font-size: 12px;
}
.login-login-link{
    margin: 2px 0;
}
