<div class="full-body">
  <div>
  <form [formGroup] = "loginForm" (ngSubmit) = "login()">
    <h1>Bug_Tracker Login</h1>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        required
        formControlName="email"
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <span class="icon"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </span>
    </mat-form-field>
    <button
      class="form-submit"
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      SIGN IN
    </button>
  </form>
  <div class="login-link-group">
    <div *ngIf="false" class="login-login-link">Forgot your <a>Password?</a></div>
    <div class="login-login-link">
      Create an account <a (click)="goToRegistration()">Sign Up</a>
    </div>
    <div class="login-login-link">Sign in as a <a (click)="openModal()">Demo User</a></div>
    <div class="login-login-link"><a (click)="goToSettings()">Learn more</a> about bug_tracker</div>
  </div>
  </div>
</div>

 <!-- The Modal -->
 <div id="myModal" [style]="styleForModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-content-head">
      <h3>Demo Login</h3>
      <span class="close" (click)="closeModal()">&times;</span>
    </div>
    <div class="modal-content-body">
      <div (click)="demoLogin(1)"><h4>Demo_Admin</h4></div>
      <div (click)="demoLogin(2)"><h4>Demo_Manager</h4></div>
      <div (click)="demoLogin(3)"><h4>Demo_Developer</h4></div>
      <div (click)="demoLogin(4)"><h4>Demo_Omni_User</h4></div>
    </div>
  </div>

</div> 
