<div class="my-form">
  <h1>Bug_Tracker Login</h1>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button mat-flat-button color="primary">SIGN IN</button>
  <div class="form-link-group">
    <div class="form-login-link">Forgot your <a href="#">Password?</a></div>
    <div class="form-login-link">Create an account <a (click) = "goToRegistration()">Sign Up</a></div>
    <div class="form-login-link">Sign in as a <a href="#">Demo User</a></div>
  </div>
</div>
