<mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav #sidenav [mode]="mode">
      <div class="bt-clear" color="warn">
        <button mat-fab color="warn" (click)="sidenav.toggle()" aria-label="Example icon button with a home icon">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <mat-list role="list" *ngIf="loggedIn()">
        <mat-list-item role="listitem"><a mat-stroked-button color="primary" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item  role="listitem" *appHasRole="['Admin']" routerLinkActive="active" ><a mat-stroked-button color="primary" [routerLink]="['/users']" routerLinkActive="router-link-active" >User Management</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem"><a mat-stroked-button color="primary" [routerLink]="['/projects']" routerLinkActive="router-link-active" >Projects</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem"><a mat-stroked-button color="primary" [routerLink]="['/tickets']" routerLinkActive="router-link-active" >Tickets</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem"><a mat-stroked-button color="primary" [routerLink]="['/login']" routerLinkActive="router-link-active" >Link</a></mat-list-item>
      </mat-list>
    </mat-sidenav>


    <mat-toolbar color="primary" *ngIf="loggedIn()">
        <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Bug Tracker</span>
        <span class="example-spacer"></span>
        <div class="example-button-row">
          <a mat-button [routerLink]="['/profile']" routerLinkActive="router-link-active" >{{authService.decodedToken?.unique_name | titlecase}}</a>
          <a mat-button (click)="logout()" [routerLink]="['/login']" routerLinkActive="router-link-active" >Logout</a>
        </div>
    </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>


