<mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav #sidenav [mode]="mode">
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
      <p>
        <mat-radio-group class="example-radio-group">
          <label>Mode:</label>
          <mat-radio-button value="over">Over</mat-radio-button>
          <mat-radio-button value="side">Side</mat-radio-button>
          <mat-radio-button value="push">Push</mat-radio-button>
        </mat-radio-group>
      </p>
    </mat-sidenav>


    <mat-toolbar color="primary" *ngIf="true">
        <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <div class="example-button-row">
          <a mat-button [routerLink]="['/profile']" routerLinkActive="router-link-active" >User</a>
          <a mat-button [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Logout</a>
        </div>
      </mat-toolbar>
    

    <router-outlet></router-outlet>
      

    
  </mat-sidenav-container>
