.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar{
    position: fixed;
    z-index: 10;
  }

  mat-sidenav{
    width: 180px;
  }
  mat-list-item a{
    width: 100%;
  }
  .bt-clear{
    background-color: #3f51b5;
    height: 64px;
    display: flex;
    justify-content: center;
  }
  .bt-clear button{
    margin: 2px;
  }
  mat-list{
    margin: 50px 0;
  }

