h3, h1, h4, p, input{ margin: 0; }
input, textarea, p{
    font-weight: lighter;
}
.p-container{
   background: white;
   border-radius: 5px;
   /* box-shadow: 0px 1px 1px 3px rgba(214,214,214,1); */
   border: 1px solid rgb(235, 235, 235);
   border-bottom: 1px solid rgb(138, 138, 138);
}
.name-plate{
    padding: 0 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h4{
    font-size: 1.15rem;
}
.name-plate>div{
    color: darkgray;
    text-align: center;
}
.name-plate>div>span{
    padding: 0 5px;
    font-size: .5rem;
    font-weight: lighter;
    color: darkorange;
}
.p-content{
    padding: 5px 25px;
}
.row{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid rgb(219, 219, 219); */
}
.row:last-child{
    border-bottom: none;
}
.row>div{
    width: 50%;
}
.row>.xl{ width: 100%; }
.role{ padding-left: 10px; }
input, textarea{
    max-width: 80%;
    min-width: 80%;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(160, 160, 160);
    margin-bottom: 10px;
}
textarea{
    min-height: 100px;
    max-height: 100px;
}
.bottom-nav{
    border-top: 1px solid rgb(206, 206, 206);
    padding: 5px 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    margin-left: 25px;
}
.alert{
    display: flex;
}
.alert>*{
    margin-right: 25px;
    color: coral;
}
