table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-sort-header-container {
    align-items: center;
  }
  
  /**  Override Default Style  **/
  .extra-style {
    padding: 0 18px;
  }
  