/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import '../node_modules/bootswatch/dist/cosmo/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css'; */


@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
mat-toolbar button{
  background-color: transparent;
  outline: none;
  border: none;
}

.list-group-item.active{
    color: #2780E3;
}

/***  Loginh form and Registration form  ****/
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.my-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-form>div{
  width: 360px;
}
.mat-form-field, button{
  width: 100%;
}
.my-form button{
  height: 55px;
  width: 360px;
}
.form-login-link{
  font-size: 12px;
  padding: 2px 0;
  text-align: center;
}
.form-link-group{
  margin-top: 70px;
}