
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .ticket-form-card{
      width: 33%;
      min-width: 150px;
      display: flex;
      flex-direction: column;
  }
  .ticket-form-card>div{
      width: 100%;
  }
  textarea{
      height: 85px;
  }