.whole{
    padding: 80px 25px 25px 25px;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-sort-header-container {
    align-items: center;
  }
  .banner{
    margin-top: 25px;
  }
  
  
  
  /**  Override Default Style  **/
  .extra-style{
    padding: 0 20px;
  }








.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}