<div class="whole">
  <mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Information
      </mat-panel-title>
      <mat-panel-description>
        Basic Information of The Project
        <mat-icon>assignment</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-project-basic (projectId)="setProjectId($event)"></app-project-basic>

    <mat-action-row>
      <button mat-button color="primary" [routerLink]="['/tickets']">Go to tickets</button>
      <button mat-button color="primary" [routerLink]="['/projects']">Go to project</button>
      <button mat-button color="warn">Archived</button>
      <button mat-button color="accent" [routerLink]="['/project/edit/', projectId]">Edit</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personnel
      </mat-panel-title>
      <mat-panel-description>
        List of Personnel Assigned in this Project
        <mat-icon>supervised_user_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-project-users></app-project-users>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Personal 
      </mat-panel-title>
      <mat-panel-description>
        List of Personnel Assigned in this Project
        <mat-icon>add</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-project-users></app-project-users>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tickets
      </mat-panel-title>
      <mat-panel-description>
        List of Active Tickets 
        <mat-icon>assignment_late</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-project-tickets [state]="'active'"></app-project-tickets>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Archived Tickets
      </mat-panel-title>
      <mat-panel-description>
        List of Archived Tickets of The Project
        <mat-icon>assignment_turned_in</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-project-tickets [state]="'archived'"></app-project-tickets>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
</div>