<div class="full-body">
  <h1>Bug_Tracker Login</h1>
  <form [formGroup] = "registerForm" (ngSubmit) = "register()" >
    <mat-form-field appearance="fill">
      <mat-label>Full Name</mat-label>
      <input matInput
      required
      formControlName = "username"
      />
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        required
        formControlName="email"
      />
      <mat-error *ngIf="registerForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  
  
      <label>Gender: </label>
      <mat-radio-group formControlName = "gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="other">Other</mat-radio-button>
      </mat-radio-group>
  
      <mat-form-field appearance="fill">
        <mat-label>Address: Area</mat-label>
        <input matInput 
        required
        formControlName = "adrs_local"
        />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Address: City</mat-label>
        <input matInput 
        required
        formControlName = "adrs_city"
        />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Address: Division</mat-label>
        <input matInput 
        required
        formControlName = "adrs_division"
        />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Address: Country</mat-label>
        <input matInput 
        required
        formControlName = "adrs_country"
        />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" 
        required
        formControlName = "password"
        />
        <span class="icon"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </span>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" 
        required
        formControlName = "confirmPassword"
        />
        <span class="icon"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </span>
      </mat-form-field>
      <button mat-flat-button color="primary" class="form-submit" type="submit">SIGN UP</button>
  </form>
</div>
