<div class="whole">
    <h1>Project</h1>
    <mat-tab-group dynamicHeight mat-align-tabs="end" color="primary" backgroundColor="accent">
        <mat-tab label="List">
            <ng-template matTabContent>
                <app-project-table></app-project-table>
            </ng-template>
        </mat-tab>
        <mat-tab label="Create">
          <app-project-form></app-project-form>
        </mat-tab>
        <mat-tab label="Archived">
          <ng-template matTabContent>
            <app-project-archived-table></app-project-archived-table>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
</div>