.whole {
    padding: 80px 25px 25px 25px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-sort-header-container {
    align-items: center;
  }
  
  mat-form-field {
    margin-right: 12px;
  }
  .extra-style {
    padding: 0 18px;
  }